.intro {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #0000001f;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.mansory {
    column-count: 2;
    column-gap: 5px;
}

.brick {
    padding: 5px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    counter-increment: brick-counter;
    position: relative;
    padding-bottom: 35px;
}

.brickImg {
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brickImg:hover {
    opacity: 0.75;
}

.likesContainer {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

.likesCount {
    font-size: 18px;
    color: black;
    margin-left: 5px;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.like {
    width: 35px;
}

.postsContainer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.postsOption {
    margin: 0px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
    margin-left: 40px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mansory {
        column-count: 2;
    }
}

@media only screen and (max-width: 768px) {
    .mansory {
        column-count: 1;
    }
    .brick img {
        width: 60%;
    }

    .brick {
        position: relative;
        text-align: center;
        display: block;
    }

    .likesContainer {
        width: 70px;
        margin: 0 auto;
        position: initial;
    }
}

@media only screen and (min-width: 1024px) {
    .mansory {
        column-count: 4;
    }
}
