.baseFont {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menuFont {
    composes: baseFont;
    font-size: 14px;
    margin-top: 7px;
}

.description {
    margin: 10px 0;
    composes: baseFont;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 2px solid #80808036;
}

.userName {
    composes: baseFont;
}

.nickNameContainer,
.followersCountElement {
    display: flex;
}

.nickName {
    margin-right: 10px;
    composes: baseFont;
    font-weight: 600;
    margin-bottom: 10px;
}

.followersContainer {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.value {
    margin-right: 5px;
    font-weight: bold;
    composes: baseFont;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .avatar {
        width: 150px;
        height: 150px;
        text-align: center;
    }

    .itemsContainer {
        align-items: center;
        text-align: center;
    }

    .followers-container,
    .nickNameContainer {
        justify-content: center;
    }

    .content {
        width: 300px;
    }
}
